<div class="col-sm-4 col-sm-offset-3">
    <h2 style="text-align:center;">Change Password</h2>
    <h4 ng-show="statusshow" style="color:green;">{{status}}</h4>
    <form name="form" role="form" ng-submit="login(username,password)">
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.passwprd.$error.required }">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="form-control" ng-model="password" placeholder="password" required />
            <span ng-show="form.passwprd.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password1.$dirty && form.password1.$error.required }">
            <label for="password1">Re-Password</label>
            <input type="password" name="password1" id="password1" class="form-control" ng-model="password1" placeholder="password1" required />
            <span ng-show="form.password1.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <span ng-show="(password!=password1)" style="color:red;">Password doesn't match</span>
        </div>
        <div class="form-actions">
            <button type="btn btn-primary" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary" ng-click="changepassword(password)">Update</button>
            
           
        </div>
    </form>
</div>

