<style type="text/css">
  

/* basic stylings ------------------------------------------ */

.panalstyle{
  width: 106%;padding:0px;margin-left: -15px;

}

.container      { 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2       { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
/* */
#footer {
  position: absolute;
  width:98%;
  height:7.26em;
  margin-left: -1em;
  width: 100%;
  padding-top: 1em;
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(0,0,0,.0001), 
     rgba(0, 0, 0, 0.45)
    ),
    /* image to overlay */
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
  
  
  /* Set the fixed height of the footer here */
 
  
}
/* form starting stylings ------------------------------- */
.group            { 
  position:relative; 
  margin-bottom:45px; 
}
input               {
  font-size:14px;
  padding:2px 5px 8px 1px;/* <!--2px 5px 8px 1px  10px 10px 10px 5px--> */
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:300px; }
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
  to    { width:0; background:transparent; }
}
    

</style>

<div class="row" style="padding-left: 40em;padding-top: 6em;">
	
	<div class="col-sm-7">
		

		<div class="row" style="border:1px solid blue;min-height:29.4em;"><!--LOgin PAge -->
              <div class="col-sm-12"><!-- login page column start here -->

              <div class="container-fluid">
  <p style="padding-top:1em;"><b><h3>Login</h3></b></p>

  <div class="alert alert-danger" ng-show="showMe">
    <strong>User name / Password doesn't match</strong> 
    Or <b>Please Wait for Admin Approvals</b>
  </div>

 <form name="form" ng-submit="login(username,password)" role="form" style="padding-top:1em;">

  <div class="group">      
      <input type="email" ng-model="username" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email</label>
    </div>
    
    <div class="group">      
      <input type="password" ng-model="password" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>
      <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Login</button>
            
            <a href="" class="btn btn-link" ng-click='open();'>Register</a>
            <a href="" class="btn btn-link" ng-click="Reset();">Forgot Password</a>
            

        </div>
  </form>
  <div style="padding-top: 4em;">
  <button class="btn btn-warning" ng-click="Adminregistration()">Admin Registration</button>
  </div>
</div>
  </div><!-- column end here-->
         </div><!--Login page end here-->




	</div>
</div>

<script type="text/ng-template" id="registration.html">

        <div class="modal-header">
            <h3 class="modal-title"><b><center>User Registration</center></b></h3>
        </div>
         <div class='modal-body'>
         <form name = "modalForm" class="" role="form">
         <div class="form-group" ng-class="{ 'has-error': modalForm.modalInput.$invalid }">
        <input name="modalInput" ng-model = "user.name" class="form-control" type = "text" placeholder="Name" title="name" required/>
        </div>
         <div class="form-group" ng-class="{ 'has-error': modalForm.username.$invalid }">
        <input name="modalInput" ng-model = "user.username" class="form-control" type = "text" placeholder="User name" title="name" id="username" required/>
        </div>
         
       
          <div class="form-group" ng-class="{ 'has-error': modalForm.email.$invalid }">
          <input name="email" ng-model = "user.email" class="form-control" type = "email" placeholder="Email Id" title=" email" required/>
          </div>
          <div class="form-group" ng-class="{ 'has-error': modalForm.password.$invalid }">
          <input name="password" ng-model = "user.password" class="form-control" type = "password" placeholder="Password" title=" password" required/>
          </div>

          <div class="form-group" ng-class="{ 'has-error': modalForm.repassword.$invalid }">
          <input name="repassword" ng-model = "password1" class="form-control" type = "password" placeholder="Re-Password" title=" password" required/>
          <label ng-show="(user.password!==password1)">password doesnt match</label>
          </div>
          <div class="form-group" ng-class="{ 'has-error': modalForm.contact.$invalid }">
          <input name="contact" ng-model = "user.contact" class="form-control" type = "text" placeholder="Conatct Number(excluding +91)" title=" Contact Number" required/>
          </div>
          
        </form>
      </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="modalForm.$invalid" ng-class="{ 'disabled': modalForm.$invalid }" ng-click="ok()">Register</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

        </div>

    </script>


<!--popup box for registration-->
 <script type="text/ng-template" id="modal3.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Registration Confirmation</h4>
              </div>
              <div class="modal-body">
                <div class="alert alert-primary"><span class="glyphicon glyphicon-primary-sign"></span> Your registration has been completed and please login</div>
              </div>
              <div class="modal-footer">
                
                <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span>OK</button>
              </div>
            </div>
          </div>
        </div>
     </script>


<script type="text/ng-template" id="adminregistration.html">

        <div class="modal-header">
            <h3 class="modal-title"><b><center>Admin Registration</center></b></h3>
        </div>
         <div class='modal-body'>
         <form name = "modalForm" class="" role="form">
         <div class="form-group" ng-class="{ 'has-error': modalForm.modalInput.$invalid }">
        <input name="modalInput" ng-model = "user.name" class="form-control" type = "text" placeholder="Name" title="name" required/>
        </div>
         <div class="form-group" ng-class="{ 'has-error': modalForm.username.$invalid }">
        <input name="modalInput" ng-model = "user.username" class="form-control" type = "text" placeholder="User name" title="name" id="username" required/>
        </div>
         
       
          <div class="form-group" ng-class="{ 'has-error': modalForm.email.$invalid }">
          <input name="email" ng-model = "user.email" class="form-control" type = "email" placeholder="Email Id" title=" email" required/>
          </div>
          <div class="form-group" ng-class="{ 'has-error': modalForm.password.$invalid }">
          <input name="password" ng-model = "user.password" class="form-control" type = "password" placeholder="Password" title=" password" required/>
          </div>

          <div class="form-group" ng-class="{ 'has-error': modalForm.repassword.$invalid }">
          <input name="repassword" ng-model = "password1" class="form-control" type = "password" placeholder="Re-Password" title=" password" required/>
          <label ng-show="(user.password!==password1)">password doesnt match</label>
          </div>
          <div class="form-group" ng-class="{ 'has-error': modalForm.contact.$invalid }">
          <input name="contact" ng-model = "user.contact" class="form-control" type = "text" placeholder="Conatct Number(excluding +91)" title=" Contact Number" required/>
          </div>
          <div class="form-group" ng-class="{ 'has-error': modalForm.secrete.$invalid }">
         <input name="secrete" ng-model = "user.secrete" class="form-control" type = "password" placeholder="secrete code" title=" secrete" required/>
          
        </form>
      </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="modalForm.$invalid" ng-class="{ 'disabled': modalForm.$invalid }" ng-click="ok()">Register</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

        </div>

    </script>